<main class="flex-grow-1 d-flex w-100 flex-wrap justify-content-evenly">
  <section
    class="w-50 mb-4 d-flex flex-column justify-content-start align-items-center"
    style="min-width: 380px;"
  >
    <h2 class="mt-5 mb-2 text-center">CREAR UN PRODUCTO!</h2>
    <form
      style="max-width: 360px;"
      class="w-100 d-flex flex-column justify-content-center items-align-center"
    >
      <fieldset class="mb-3 text-center">
        <label for="title" class="form-label mb-0">Título</label>
        <input type="text" class="form-control" id="title" />
      </fieldset>
      <fieldset class="mb-3 text-center">
        <label for="photo" class="form-label mb-0">Foto</label>
        <input type="text" class="form-control" id="photo" />
      </fieldset>
      <fieldset class="mb-3 text-center">
        <label for="price" class="form-label mb-0">Precio</label>
        <input type="number" class="form-control" id="price" />
      </fieldset>
      <fieldset class="mb-3 text-center">
        <label for="stock" class="form-label mb-0">Stock</label>
        <input type="number" class="form-control" id="stock" />
      </fieldset>
      <fieldset class="mb-4 text-center w-100">
        <label for="date" class="form-label mb-0">Fecha</label>
        <input type="date" class="form-control" id="date" />
      </fieldset>
      <button
        id="create"
        type="button"
        class="w-100 btn btn-secondary mt-3"
      >CREAR!</button>
    </form>
  </section>
</main>
<script src="/scripts/form.js"></script>