<main class="flex-grow-1 p-3 m-auto my-2">
  <h1>prueba</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nesciunt
    molestiae, perspiciatis blanditiis velit, praesentium possimus repellendus
    voluptates quasi tempora voluptate aspernatur facere, impedit enim animi!
    Cumque libero ipsam praesentium?</p>
    {{#each products}}
    
    <h4>{{this}}</h4>

    {{/each}}
</main>