<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="titulo">
  <label for="floatingInput">Titulo</label>
</div>
<div class="form-floating">
  <input type="text" class="form-control" id="floatingPhoto" placeholder="foto">
  <label for="floatingPhoto">Foto</label>
</div>
<div class="form-floating">
  <input type="number" class="form-control" id="floatingPhoto" placeholder="precio">
  <label for="floatingPhoto">Precio</label>
</div>
<div class="form-floating">
  <input type="number" class="form-control" id="floatingPhoto" placeholder="stock">
  <label for="floatingPhoto">Stock</label>
</div>
<div>
    <button id="newProduct" type="button" class=" w-100 btn btn-secondary">CREAR</button>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/create.js"></script>